<mat-card class="auth-card">
  <mat-card-header>
    <h1>Login</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Unesite email"
        [(ngModel)]="email"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Sifra</mat-label>
      <input
        type="password"
        matInput
        placeholder="Unesite sifru"
        [(ngModel)]="password"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button (click)="doLogin()">Ulogujte se!</button>
    <a mat-button routerLink="/signup">
      Nemate nalog? Napravite sada.
    </a>
  </mat-card-actions>
</mat-card>
