<mat-card class="auth-card">
  <mat-card-header>
    <h1>SignUp</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Unesite email"
        [(ngModel)]="email"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ime</mat-label>
      <input
        type="text"
        matInput
        placeholder="Unesite ime"
        [(ngModel)]="firstName"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prezime</mat-label>
      <input
        type="text"
        matInput
        placeholder="Unesite prezime"
        [(ngModel)]="lastName"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Telefon</mat-label>
      <input
        type="tel"
        matInput
        placeholder="Unesite broj telefona"
        [(ngModel)]="phone"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Adresa</mat-label>
      <input
        type="text"
        matInput
        placeholder="Unesite adresu"
        [(ngModel)]="address"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Sifra</mat-label>
      <input
        type="password"
        matInput
        placeholder="Unesite sifru"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ponovite sifru</mat-label>
      <input
        type="password"
        matInput
        placeholder="Ponovite Vasu sifru"
        [(ngModel)]="repeatPassword"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Izaberite omiljeni zanr</mat-label>
      <mat-select [(ngModel)]="genre">
        <mat-option *ngFor="let gen of genresList" [value]="gen">
          {{ gen }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button (click)="doSignup()">Signup</button>
    <a mat-button routerLink="/login"> Imate nalog? Ulogujte se. </a>
  </mat-card-actions>
</mat-card>
