.auth-card {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

mat-card-header {
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

h1 {
    margin: 0;
    font-weight: 600;
}

mat-card-content {
    padding: 20px;
}

.mat-form-field.full-width {
    width: 100%;
    margin-bottom: 15px;
}

button[mat-button] {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #2196f3;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[mat-button]:hover {
    background-color: #1976d2;
}

a[mat-button] {
    display: block;
    text-align: center;
    color: #2196f3;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 10px;
}

a[mat-button]:hover {
    text-decoration: underline;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

mat-option {
    color: black !important;
    background-color: white !important;
}

mat-option:hover {
    color: #2196f3 !important;
}